<h1>Add New Contact</h1>

<form method="POST" action="/contacts/new">

  <label for="first_name">First Name:</label>
  <input type="text" name="first_name"><br>

  <label for="last_name">Last Name:</label>
  <input type="text" name="last_name"><br>

  <label for="phone_number">Phone Number:</label>
  <input type="text" name="phone_number"><br>



  <button type="submit">Add Contact</button>
</form>

<br>
<a class="back" href="/">Back to All Contacts</a>
