<h1>Name:</h1>
<h2><%=@member.first_name%> <%=@member.last_name%>
<br>
<h1>Specialty Division:</h1>
<h2><%=@member.specialty_division%></h2>


<a class="back" href="/crew-members">Back to the crew</a>
<br>
<a class="back" href="/">Back to All Starships</a>
