/* YOUR STYLING HERE */
.button.buttonTrue,.button.buttonTrue:hover, .button.buttonTrue:active, button.buttonTrue:focus {
  background-color: #84CE15;
  box-shadow: 3px 3px 3px #000;
  margin-right: 20px;
  margin-left: 10px;
  font-weight: bold;
  border-color: #000;
  border-width:medium;
}

.button, .button:hover, .button:focus {
  background-color: #1C2225;
  box-shadow: 3px 3px 3px #000;
  margin-right: 20px;
  margin-left: 10px;
  font-weight: bold;
  border-color: #000;
  border-width:medium;
  border-radius: 2px;
}

body {
  background-color: #E5F3F4;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  color: #8A837B;
}

p {
  padding-left: 10px;
  padding-right: 10px;
  font-weight: normal;
}

.question {
  position: relative;
  bottom: 8px;
}

h1 {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  font-weight:bold;
  color: #36BECC;
  padding-top: 15px;
  font-size: 230%;;
}


.buttonBox {
  border-bottom: 3px solid;
  padding-top: 15px;
  margin-left: 5px;
  margin-right: 5px;
  font-weight: bold;
}
