<h1><%=@article.title%></h1>
<p><%=@article.description%></p>

<p><a href=<%=@article.url%>><%=@article.url%></p>

<a class="back" href="/">Back to All Articles</a>
<br/>
<a class="back" href="/articles/new">Add a New Article</a>
