<h1>Click for a Random Article</h1>
<!--  -->


<script src="/js/app.js"></script>
<button type="button">RANDOM BUTTON!</button></button>

<!--  -->
<br>
<br>
<a class="back" href="/">Back to All Articles</a>
